---
import PageMeta from '../components/PageMeta.astro'
import PageLayout from '../layouts/PageLayout.astro'
import { SITE_TITLE } from '../config'
import Title from '../components/Title.astro'
import LinkCard from '../components/LinkCard.astro'
---

<PageLayout>
  <PageMeta
    title={`${SITE_TITLE} | A game system to play hundreds of board games`}
    slot="meta"
  />

  <Title text={['The', 'DIY Multideck']} class="mb-4 sm:mb-8" />

  <nav class="grid sm:grid-cols-2 gap-4">
    <LinkCard
      href="/manual"
      icon="book"
      title="Deck's manual"
      description="Learn how to use the deck."
      cta="Read manual"
    />
    <LinkCard
      href="/games"
      icon="play-card"
      title="Games list"
      description="Learn how to play games."
      cta="View games"
    />
    <LinkCard
      href="/blog"
      icon="news"
      title="Project's blog"
      description="Read about the project."
      cta="Read blog"
    />
    <LinkCard
      href="/buy"
      icon="shopping-cart"
      title="Official store"
      description="Buy the deck and support the project."
      cta="Buy now"
    />
  </nav>
</PageLayout>
