---
import PageMeta from '../components/PageMeta.astro'
import PageLayout from '../layouts/PageLayout.astro'
import BuyBanner from '../components/BuyBanner.astro'
import { SITE_TITLE } from '../config'
---

<PageLayout>
  <PageMeta
    title={`${SITE_TITLE} | A game system to play hundreds of board games`}
    slot="meta"
  />

  <Fragment slot="main">
    <section class="mb-8">
      <div class="mb-4">
        <h1
          class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
        >
          The
          <span
            class="bg-gradient-to-br from-[#3c72fb] via-[#f91669] to-[#c10cea] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
          >
            DIY Multideck
          </span>
        </h1>
        <p class="text-2xl pb-4">Draw in your cards!</p>
      </div>

      <article>
        <p>
          The DIY multideck is a deck of 160 poker-sized playing cards that lets
          you play many games by using a bit of imagination and sometimes
          drawing on the cards. Drawing on the cards allows creating
          game-specific cards.
        </p>
        <p>
          The cards can be arranged in many different combinations of suits and
          ranks to support many game systems.
        </p>
        <p>
          The DIY Multideck is heavily inspired by <a
            href="https://thewrongtools.wordpress.com/2019/10/10/the-everdeck/"
            >The Everdeck</a
          >, and it supports <a
            href="https://boardgamegeek.com/geeklist/230703/games-playable-everdeck"
            >almost all games for it</a
          >, plus <a href="/games">many more</a>.
        </p>

        <p><img src="/images/home/deck.png" alt="deck" /></p>

        <h2 id="feature-list">Feature list</h2>
        <ul class="unset">
          <li>
            Game systems:<ul class="unset">
              <li>12 suits of 10 ranks.</li>
              <li>8 suits of 15 ranks.</li>
              <li>4 suits of 30 ranks.</li>
              <li>4 suits of 10 ranks, every rank repeated 3 times.</li>
              <li>Numbers from 0 to 119.</li>
              <li>8 suits of 5 uneven ranks, in 2 variations.</li>
              <li>10-level pyramidal deck.</li>
              <li>Others, by drawing.</li>
            </ul>
          </li>
          <li>
            Draw in the cards to add words, points, icons, tiles, boards, extra
            ranks, etc.<ul class="unset">
              <li>
                Up to 16 drawing slots in each card, grouped in 5 drawing areas.
              </li>
            </ul>
          </li>
          <li>
            Paths (connecting top, bottom, left, and right in all combinations):<ul
              class="unset"
            >
              <li>
                12 sets of 10 paths (upright and upside-down are equivalent).
              </li>
              <li>
                6 sets of 16 paths, plus 4 duplicated paths per set (upright and
                upside-down are different).
              </li>
            </ul>
          </li>
          <li>
            Random numbers / Dice throws:<ul class="unset">
              <li>Out of: 3, 4, 5, 6, 7, 8, 9, 10, 12, 15, 20, 30.</li>
              <li>
                Polyhedral dice set for GPG/DND/MTG (D4, D6, D8, D10, D12, D20).
              </li>
              <li>Coin flip</li>
            </ul>
          </li>
          <li>
            Letter:<ul class="unset">
              <li>In the English frequency distribution.</li>
              <li>Letter rarity score from 1 to 5.</li>
            </ul>
          </li>
          <li>
            Dots:<ul class="unset">
              <li>From 1 to 5.</li>
              <li>
                Filled dots: Five 1s, four 2s, three 3s, two 4s, one 5, per
                suit.
              </li>
              <li>
                Empty dots: One 1, two 2s, three 3s, four 4s, five 5s, per suit.
              </li>
              <li>2 shapes: 4 suits use circles, and 4 suits use squares.</li>
            </ul>
          </li>
          <li>
            Counting system using the cards' back face. For counting: points,
            coins, lives, etc.<ul class="unset">
              <li>Stacking method: Very clear, but multiple cards used.</li>
              <li>Pointing method: Only 2 cards used, but less clear.</li>
            </ul>
          </li>
          <li>
            Usability:<ul class="unset">
              <li>5 explanation cards.</li>
              <li>5 notes cards.</li>
              <li>
                Distinct shapes and colors for the suits (color-blind friendly).
              </li>
              <li>Standard poker card size.</li>
              <li>Hint below the suit.</li>
              <li>
                Drawing slots:<ul class="unset">
                  <li>
                    Designed to let you draw twice, upright and upside-down, to
                    make cards work both ways.
                  </li>
                  <li>Big enough for handwriting, but not too much.</li>
                  <li>
                    Varied shapes strategically placed, to cover a wide variety
                    of needs and keep organization.
                  </li>
                </ul>
              </li>
              <li>
                Systems to avoid confusions when playing:<ul class="unset">
                  <li>All card corner's numbers match in the units digit.</li>
                  <li>
                    All cards from 8 out of 12 suits, match the number in the
                    top-left and bottom-right corner.
                  </li>
                  <li>
                    Card number unit digit is highlighted, and always matches
                    the top-left corner.
                  </li>
                  <li>
                    When the corners don't match, the suit has a black border or
                    the rank is a letter.
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
        <h2 id="features-in-depth">Features In-Depth</h2>
        <h3 id="why-drawing-">Why drawing?</h3>
        <p>For 3 reasons:</p>
        <ol>
          <li>To resemble the original games.</li>
          <li>To support more games.</li>
          <li>To let you choose the games in your deck.</li>
        </ol>
        <p>
          Even tough it may seem that by drawing you'll destroy your cards, make
          them ugly or waste them, the truth is the opposite: <strong
            >if you don't do draw on them, you're wasting the cards</strong
          >, because they are meant for that. The DIY Multideck provides a solid
          base to play many games and, additionally, draw in the cards to
          support more games. Drawing on the cards also make games easier to
          play, because the drawings can resemble the original game card's.
        </p>
        <p>
          Rather than filling the cards with predetermined games, I want to
          encourage you to personalize them by adding the games you enjoy
          playing. By doing so, the cards won't have unused information and will
          lead to less confusions while playing.
        </p>
        <p>
          This website provides a wide range of game mapping instructions. If
          you don't see a particular game you're interested in, feel free to
          create your own game mapping instructions and submit them to us.
        </p>
        <p>
          So, what are you waiting for? Grab a pen or marker, open one of our
          game mapping guides, add a new game to your deck!
        </p>
        <h3 id="drawing-areas">Drawing areas</h3>
        <div class="drawing-areas-wrapper">
          <img src="/images/home/drawing-areas.png" alt="drawing-areas" />
          <div>
            <p>
              In the future, we'll release a blog post about tips to create your
              own game mappings and more details about this topic.
            </p>
            <p>
              As shown in the image, each card has 14-16 drawing drawing slots,
              grouped in 5 drawing areas.
            </p>
          </div>
        </div>

        <div class="drawing-area-wrapper">
          <div class="drawing-area">
            <h4 id="area-a">Area A</h4>
            <p>Amount: 2 big or 4 small.</p>
            <p>
              In some games, you may need duplicate the drawing on the top and
              bottom slots to make the card playable in any rotation.
            </p>
            <p>Draw here when:</p>
            <ul class="unset">
              <li>
                The card need to be hold in hand and contain a big drawing or
                word.
              </li>
              <li>
                The card need to be stacked on the table while keeping the top
                or bottom part visible.
              </li>
            </ul>
          </div>
          <div class="drawing-area">
            <h4 id="area-b">Area B</h4>
            <p>Amount: 4</p>
            <p>
              In some games, you may need duplicate the drawing on the opposite
              corner's slots to make the card playable in any rotation.
            </p>
            <p>Draw here when:</p>
            <ul class="unset">
              <li>
                The card need to be hold in hand and contain a big drawing or
                word.
              </li>
              <li>
                The card need to be stacked on the table while keeping the top
                or bottom part visible.
              </li>
            </ul>
          </div>
          <div class="drawing-area">
            <h4 id="area-c">Area C</h4>
            <p>Amount: 3</p>
            <p>Draw here when:</p>
            <ul class="unset">
              <li>The card need a hint, like punctuation.</li>
              <li>
                The card's hint doesn't need to be visible while holding it on
                hand, otherwise use the area A.
              </li>
            </ul>
          </div>
          <div class="drawing-area">
            <h4 id="area-d">Area D</h4>
            <p>Amount: 4</p>
            <p>Draw here when:</p>
            <ul class="unset">
              <li>The card needs to be placed in the table.</li>
              <li>The card can be hold in hand, but it's the only one.</li>
              <li>The card needs to contain a big drawing or word.</li>
            </ul>
          </div>
          <div class="drawing-area">
            <h4 id="area-e">Area E</h4>
            <p>Amount: 1</p>
            <p>Draw here when:</p>
            <ul class="unset">
              <li>You want to represent a tile, chip, token, or similar.</li>
              <li>The card needs to be placed in the table.</li>
              <li>The card is important.</li>
            </ul>
          </div>
        </div>

        <h3 id="usability">Usability</h3>
        <ul class="unset">
          <li>
            66% (80/120) of the cards match in the top-left and bottom-right
            corners.<ul class="unset">
              <li>8 suits from 0 to 9 match corners.</li>
              <li>
                The remaining 4 suits that don't match corners, have a black
                border to make it clear they don't match.
              </li>
            </ul>
          </li>
          <li>
            100% of the cards have the same unit digit in all corners when the
            corners have numbers (JQKA don't apply).
          </li>
          <li>High contrast in important elements.</li>
        </ul>
        <h3 id="path">Path</h3>
        <p>
          <img
            srcset="/images/home/paths.svg 2x"
            src="/images/home/paths.svg"
            alt="paths"
          />
        </p>
        <p>
          All combinations, allowing rotations, 12 times. Or all combinations,
          not allowing rotations, 6 times.
        </p>
        <p>All suits (the ones from 0 to 9), have the same set of paths.</p>
        <h3 id="random-numbers-or-dice-throws">
          Random numbers or Dice throws
        </h3>
        <p>
          <img
            srcset="/images/home/random-numbers.svg 2x"
            src="/images/home/random-numbers.svg"
            alt="random-numbers"
          />
        </p>
        <p>
          Each card has 12 random numbers. The random numbers are out of: <strong
            >3, 4, 5, 6, 7, 8, 9, 10, 12, 15, 20, 30</strong
          >.
        </p>
        <p>
          This can be used as dice throws. The deck includes the <strong
            >DND dice set</strong
          > in the cards (D4, D6, D8, D10, D12, D20)
        </p>
        <p>
          The random number, actually is the result of the modulus operation,
          from <a href="https://en.wikipedia.org/wiki/Modular_arithmetic"
            >modular arithmetic</a
          >, between the card number (top right corner) and the total (bottom
          number in the fraction). This is to ensure all values are equally
          distributed.
        </p>
        <p>
          In 2 cases, there are some random numbers that have slightly more
          chances of appearing than others. Because 7 and 9 are not factors of
          120, there are extra values.
        </p>
        <ul class="unset">
          <li>
            For 7, there's an extra 7 in the deck. So obtaining a 7 is 0.83%
            more likely than a another number, negligible.
          </li>
          <li>
            For 9, there's an extra 9, 1, and 2 in the deck. So obtaining a 9,
            1, or 2 is 0.83% more likely than a another number, negligible.
          </li>
        </ul>
        <p>
          If, for some weird reason, you need absolute precision when drawing a
          random number out of 7, 9, or a total not in the cards, don't use this
          feature. Instead, select all the cards with the possible results you
          want in the card number (top right corner), shuffle and pick one.
        </p>
        <h4 id="coin-flip">Coin flip</h4>
        <p>
          <img
            srcset="/images/home/coin-flip.svg 2x"
            src="/images/home/coin-flip.svg"
            alt="coin-flip"
          />
        </p>
        <p>There's also a coin flip in the middle of the random numbers.</p>
        <p>
          When the card number is even, it's a head, and when the card number is
          odd, it's tails.
        </p>
        <h3 id="letter">Letter</h3>
        <p>
          At the bottom center of every card there's a letter. They have a
          frequency distribution compatible with English word games.
        </p>
        <p>
          Here's the distribution compared to Scrabble, Words With Friends, and
          standard English:
        </p>
        <p>
          <img
            src="https://thewrongtools.files.wordpress.com/2019/09/letter-distribution.png"
            alt="letters"
          />
        </p>
        <p>
          This distribution is copied from <a
            href="https://thewrongtools.wordpress.com/2019/10/10/the-everdeck/"
            >The Everdeck</a
          >
        </p>
        <h3 id="points-value">Points value</h3>
        <p>
          At the bottom of the bottom-right corner, there are a set of dots,
          those are the Points value.
        </p>
        <p>
          Point values are distributed equally across suits. Specifically, each
          suit has five 1's, four 2's, three 3's, two 4's, and one 5 (12345 •
          54321). They can be used as an alternative rank value for games that
          require an uneven number of specific ranks, like Hanabi.
        </p>
        <p>
          A card's point value also indicate the score of the letter in the
          card. Most letters have one or two possible point values, with rarer
          letters having higher average scores.
          <!-- TODO: explain better this phrase -->
        </p>
        <p>
          This distribution is copied from <a
            href="https://thewrongtools.wordpress.com/2019/10/10/the-everdeck/"
            >The Everdeck</a
          >
        </p>
        <h3 id="counting">Counting</h3>
        <p>
          <img
            srcset="/images/home/counting.png 2x"
            src="/images/home/counting.png"
            alt="counting"
          />
        </p>
        <p>
          The back side of the cards also has utility, they serve as counters.
        </p>
        <p>
          You can add a title to the counter by writing it in the area A of a
          card and putting it below. Don't overuse this technique or you'll run
          out of space, for example, if every player only has to count coins,
          don't put titles on the counters, it's assumed they are coins.
        </p>
        <ul class="unset">
          <li>
            <strong>Stacking method</strong>: Very clear, but multiple cards
            used.<ul class="unset">
              <li>
                Stack cards upright (worth 1) or upside-down (worth 5), the sum
                is the result.
              </li>
            </ul>
          </li>
          <li>
            <strong>Pointing method</strong>: Only 2 cards used, but less clear.<ul
              class="unset"
            >
              <li>
                Put 2 cards on top of each other, and align the arrow from the
                card in front to point a number in the card on the back, the
                pointed number is the result.
              </li>
              <li>
                You can rotate the front card, and count negative or positive
                points.
              </li>
            </ul>
          </li>
        </ul>
        <h2 id="cards-in-the-deck">Cards in the deck</h2>
        <h3 id="card-fronts">Card fronts</h3>
        <p>
          The cards can be arranged in many ways. These are the two most
          representative arrangement.
        </p>
        <h4 id="groups-of-10">Groups of 10</h4>
        <blockquote>
          <p>Up-left corner: 12 suits of 10 ranks</p>
          <p>Up-right corner: Numbers from 0 to 119</p>
          <p>Borders: 12 sets of 10 paths</p>
        </blockquote>
        <p>
          This arrangement also displays the numbers in ascending order. Also,
          the letters are in alphabetical order, and the special letters and
          symbols are at the end.
          <!-- TODO: wrong sentence, fix -->
        </p>
        <p>
          <img
            srcset="/images/home/mini-cards-10.png 2x"
            src="/images/home/mini-cards-10.png"
            alt="mini-cards-10"
          />
        </p>
        <h4 id="groups-of-15">Groups of 15</h4>
        <blockquote>
          <p>Bottom-right corner: 8 suits of 15 ranks</p>
          <p>Bottom-left corner: 4 suits of 30 ranks</p>
        </blockquote>
        <p>The cards are meant to be used rotated 180 degrees.</p>
        <p>
          <img
            srcset="/images/home/mini-cards-15.png 2x"
            src="/images/home/mini-cards-15.png"
            alt="mini-cards-15"
          />
        </p>
        <h3 id="explanation-cards">Explanation cards</h3>
        <p>
          The cards are printed in grids of 3x3 in DIN A4 sheets, so to print
          120 cards, there are 6 spaces left. These spaces are used to add a
          cover card and 5 explanation cards.
        </p>
        <p>
          The information is very condensed because there isn't much space. So
          they are meant to be a reminder, not a complete explanation.
        </p>
        <p><img src="/images/home/special-cards.png" alt="special-cards" /></p>
        <h3 id="card-backs">Card backs</h3>
        <p><img src="/images/home/back-cards.png" alt="back-cards" /></p>
        <h4 id="notes-cards">Notes cards</h4>
        <p>Use them to keep any useful information.</p>
        <p>Some use cases are:</p>
        <ul class="unset">
          <li>Player aid.</li>
          <li>Simplified game board.</li>
          <li>Game setup (what cards, how many per player...).</li>
          <li>Definition/Diagram of specific rule or mechanic.</li>
          <li>List of games in the deck.</li>
        </ul>
        <h4 id="regular-card-backs">Regular card backs</h4>
        <p>
          50% of the regular card backs are inverted, in a non-alternating way.
          Otherwise, if someone was holding a card upright, the other players
          would know he's holding not holding a letter (XAJQK) for sure.
        </p>
        <h2 id="other-details">Other details</h2>
        <h3 id="suit-names">Suit names</h3>
        <p>The name of the suits are:</p>
        <div class="suit-table-wrapper">
          <table class="suit-table">
            <thead>
              <tr>
                <th style="text-align:center"></th>
                <th style="text-align:center"></th>
                <th style="text-align:center"></th>
                <th style="text-align:center"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="suit"
                  ><img src="/images/suits/0.svg" class="suit-img" />Clubs</td
                >
                <td class="suit"
                  ><img src="/images/suits/1.svg" class="suit-img" />Drops</td
                >
                <td class="suit"
                  ><img src="/images/suits/2.svg" class="suit-img" />Hearts</td
                >
                <td class="suit"
                  ><img src="/images/suits/3.svg" class="suit-img" />Leaves</td
                >
              </tr>
              <tr>
                <td class="suit"
                  ><img src="/images/suits/4.svg" class="suit-img" />Spades</td
                >
                <td class="suit"
                  ><img src="/images/suits/5.svg" class="suit-img" />Magic</td
                >
                <td class="suit"
                  ><img
                    src="/images/suits/6.svg"
                    class="suit-img"
                  />Diamonds</td
                >
                <td class="suit"
                  ><img src="/images/suits/7.svg" class="suit-img" />Crowns</td
                >
              </tr>
              <tr>
                <td class="suit"
                  ><img src="/images/suits/8.svg" class="suit-img" />Poops</td
                >
                <td class="suit"
                  ><img src="/images/suits/9.svg" class="suit-img" />Bubbles</td
                >
                <td class="suit"
                  ><img
                    src="/images/suits/10.svg"
                    class="suit-img"
                  />Flowers</td
                >
                <td class="suit"
                  ><img
                    src="/images/suits/11.svg"
                    class="suit-img"
                  />Candies</td
                >
              </tr>
              <tr>
                <td class="suit"
                  ><img
                    src="/images/suits/12.svg"
                    class="suit-img"
                  />Mosaics</td
                >
                <td class="suit"
                  ><img src="/images/suits/13.svg" class="suit-img" />Spikes</td
                >
                <td class="suit"
                  ><img
                    src="/images/suits/14.svg"
                    class="suit-img"
                  />Lollypops</td
                >
                <td class="suit"
                  ><img src="/images/suits/15.svg" class="suit-img" />Cells</td
                >
              </tr>
            </tbody>
          </table>
        </div>
        <h3 id="design-choices">Design choices</h3>
        <ul class="unset">
          <li>
            The rank is inside the suit to save up space. The downside is that
            it requires players to spread more the cards in hand to see the
            rank, but it's not uncomfortable.
          </li>
          <li>
            The bottom-left suits are composited by the 3 colors of the cards
            they appear in, this way they look different from the other
            one-colored suits, and at the same time don't look too different
            because the average color tone is close to the one of the card.
          </li>
          <li>All suits are very distinct shapes.</li>
          <li>
            The colors of the suits can be grouped by similar hue in pairs but
            also trios.
          </li>
          <li>
            4 of the suits are the ones from the French deck because this lets
            players use the cards as poker cards. The colors are also similar,
            black/ gray and red/orange, to keep consistency with the traditional
            deck but also to have different colors for modern games.
          </li>
          <li>
            The slogan &quot;Draw your cards&quot; is there to encourage people
            to draw, and lose the fear of drawing in cards. It's fine! If you
            run out of space, you'll have amortized very well the cards, don't
            worry.
          </li>
          <li>
            The black suit is the first one for a reason. The card number (from
            0 to 119) have the units digits highlighted. If another suit was the
            black one, the unit digits would be highlightes in the same color as
            the decimal digit, and wouldn't be noticable. But because cards'
            numbers of the first suit don't have decimal digits, there's no need
            to highlight.
          </li>
        </ul>
        <h3 id="inspiration">Inspiration</h3>
        <blockquote>
          <p>In the future, we'll release a blog post about this topic.</p>
        </blockquote>
        <p>A short spoiler: from The Everdeck and Rainbow deck mainly.</p>
        <h3 id="printing">Printing</h3>
        <blockquote>
          <p>In the future, we'll release a blog post about this topic.</p>
        </blockquote>
        <p>
          A short spoiler: Designed to be to printable at home or basic copy
          shop.
        </p>
        <h3 id="is-it-legal-">Is it legal?</h3>
        <p>
          <strong>Yes!</strong> Selling/buying or printing the DIY Multideck is
          legal, even if the porpoise is to play other games. Also, this
          website, with explanations of how to play other games, an all it's
          contents, is legal.
        </p>
        <p>
          Board games are generally not protected intellectual property. What is
          usually protected with copyright, are the assets they use, like:
          cards, tokens, boards or rulebooks. Some game mechanics may be
          patented, but it's very rare.
        </p>
        <p>
          Explaining how to play a board game is legal, as long as you don't use
          copyrighted material without permission to do so.
        </p>
        <p>
          About the trademarks; in this case, using other board games names and
          logos is fare use because it's &quot;Informational use&quot;, also
          called &quot;editorial use&quot;.
        </p>
        <p>
          About the copyright; in this case, no assets from the game are used in
          the deck or this website.
        </p>
        <h2 id="appendix">Appendix</h2>
        <h3 id="vocabulary">Vocabulary</h3>
        <ul class="unset">
          <li>
            <strong>Suit</strong>: In a card, the shape and color. (<a
              href="https://en.wikipedia.org/wiki/Playing_card_suit"
              >Wikipedia</a
            >)
          </li>
          <li><strong>Ranks</strong>: In a card, the numbers or letter.</li>
        </ul>
        <h3 id="all-cards">All cards front preview</h3>
        <img
          src="/images/home/preview.png"
          style="border-radius: 0.25rem;"
          alt="all cards preview"
        />
      </article>
    </section>
    <BuyBanner />

    <style lang="scss">
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-weight: bold;
        margin-top: 1rem;
      }
      h2 {
        font-size: 1.75rem;
      }
      h3 {
        font-size: 1.5rem;
      }
      h4 {
        font-size: 1.25rem;
      }
      h4 {
        font-size: 1.125rem;
      }
      p {
        margin: 0.5rem 0;
      }
      ul,
      ol {
        list-style: revert;
      }
      li {
        margin-left: 1.375rem;
        padding-left: 0.175rem !important;
      }
      .drawing-areas-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;

        > div {
          flex: 1 1 10rem;
          padding: 1rem;
        }
        > img {
          width: 100%;
          max-width: 300px;
        }
      }
      img {
        margin: 0 auto;
      }
      .drawing-area-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
      }
      .drawing-area {
        flex: 1 1 17rem;
        padding: 1rem;
        border: solid 1px #eee;
        border-radius: 1rem;

        & > *:first-child {
          margin-top: 0;
        }
      }
      blockquote {
        border-left: solid 0.125rem currentColor;
        padding-left: 1rem;
      }
      .suit-img {
        width: 3rem;
        display: block;
        margin: 0 auto;
      }
      .suit {
        text-align: center;
        padding: 0.75rem;
      }
      .suit-table {
        margin: 0 auto;
      }
      .suit-table-wrapper {
        overflow: auto;
        width: 100%;
        padding: 0 1.5rem;
        margin: 0 -1.5rem;
        box-sizing: content-box;
      }
    </style>
  </Fragment>
</PageLayout>
