---
import PageMeta from '../components/PageMeta.astro'
import Title from '../components/Title.astro'
import PageLayout from '../layouts/PageLayout.astro'
import { getGamesCollections } from '../utils/getGames'

const games = await getGamesCollections()
---

<PageLayout>
  <PageMeta title="Buy the DIY Multideck" slot="meta" />
  <Title text={['Buy the', 'DIY Multideck']} />

  <h2 class="font-bold mt-4">How to buy</h2>
  <p class="mb-4">
    The buying process is not automated, so we'll have to chat to arrange the
    payment and shipping. I will carefully prepare your kit and mail it when
    ready. 😊
  </p>
  <p
    class="mb-4 font-bold py-4 px-6 bg-[rgb(var(--color-text-link)/0.1)] rounded-xl text-center text-balance"
  >
    Contact me on WhatsApp
    <a href="https://wa.me/34690613037" class="whitespace-nowrap"
      >+34 690 613 037</a
    >
     or email
    <a href="mailto:diymultideck@mauri.app">diymultideck@mauri.app</a>
  </p>

  <div class="grid sm:grid-cols-[26ch,1fr] gap-4">
    <div>
      <h2 class="font-bold mt-4">Price</h2>
      <p class="mb-1">
        <strong>35 €</strong> + shipping costs.
      </p>
      <p class="mb-4">
        🚚 Barcelona 0€, Spain 3€, Europe 7€, anywhere else 11€. <span
          class="italic">It goes by weight, so 2 decks cost the double.</span
        >
      </p>

      <h2 class="font-bold mt-4">What's included</h2>
      <ul class="unset list-disc pl-4">
        <li class="my-0 p-0">1 deck of cards (162 cards)</li>
        <li class="my-0 p-0">1 case</li>
        <li class="my-0 p-0">1 pencil and rubber</li>
        <li class="my-0 p-0">50 multicolor chips (5 colors).</li>
      </ul>

      <h2 class="font-bold mt-4">Other benefits</h2>
      <ul class="unset list-disc pl-4">
        <li class="my-0 p-0">Fully waterproof</li>
        <li class="my-0 p-0">{games.length} game instructions</li>
        <li class="my-0 p-0">Can request new games</li>
      </ul>
    </div>
    <div class="sm:justify-self-end justify-self-center self-center">
      <a href="/images/shop/package-contents.jpg" class="cursor-zoom-in"
        ><img
          src="/images/shop/package-contents.jpg"
          alt="Preview the package contents"
          class="max-w-96 w-full object-cover rounded-xl shadow-xl"
        /></a
      >
    </div>
  </div>

  <div class="text-center mt-4">
    <a
      href="https://wa.me/34690613037"
      class="unset px-6 py-3.5 text-base font-medium text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      <i class="ti ti-shopping-cart mr-2 text-xl"></i>
       Chat to buy now
    </a>
  </div>
</PageLayout>
