---
interface Props {
  type: 'idea' | 'info'
}

const { type } = Astro.props
---

<div class="flex bg-stone-200/50 dark:bg-slate-900 rounded-md p-2 pl-0 mt-2">
  {
    type === 'idea' && (
      <i class="ti ti-bulb px-3 text-lg text-yellow-500 dark:text-yellow-300" />
    )
  }
  {
    type === 'info' && (
      <i class="ti ti-info-circle px-3 text-lg text-blue-500 dark:text-blue-300" />
    )
  }
  <div class="grow [&>:first-child]:mt-0 [&>:last-child]:mb-0">
    <slot />
  </div>
</div>
