---
import { cn } from '../../lib/cn'
import type { GameMapping } from '../../lib/schemas/gameMappingsSchema'
import MappingTable from './MappingTable.astro'

interface Props {
  mapping: GameMapping
}

const { mapping } = Astro.props
---

{
  mapping.variants.length > 1 ? (
    <div>
      <select
        id="variant-select"
        class="mb-4 rounded border border-gray-300 px-2 py-1"
      >
        {mapping.variants.map((variant) => (
          <option value={variant.slug}>{variant.name}</option>
        ))}
      </select>

      {mapping.variants.map((variant, index) => (
        <div
          data-variant-table={variant.slug}
          class={cn(index === 0 ? 'block' : 'hidden')}
        >
          <MappingTable mapping={variant} />
        </div>
      ))}
    </div>
  ) : (
    <MappingTable mapping={mapping.variants[0]!} />
  )
}

<script>
  const select = document.getElementById('variant-select') as HTMLSelectElement
  const tables = document.querySelectorAll<HTMLDivElement>(
    '[data-variant-table]'
  )

  if (select) {
    select.addEventListener('change', (e) => {
      const selectedSlug = (e.target as HTMLSelectElement).value
      tables.forEach((table) => {
        if (table.dataset.variantTable === selectedSlug) {
          table.classList.remove('hidden')
          table.classList.add('block')
        } else {
          table.classList.remove('block')
          table.classList.add('hidden')
        }
      })
    })
  }
</script>
