---
import { cn } from '../../lib/cn'
import { getShapeSuitV1EmojiById, type ShapeSuitV1Id } from './suits-v1'

export interface Props {
  id: ShapeSuitV1Id
}

const { id } = Astro.props
const emoji = getShapeSuitV1EmojiById(id)
---

<>
  <svg
    viewBox="0 0 125 125"
    fill="none"
    class={cn('not-prose align-[-0.15em] inline-block h-[1em]', {
      'h-[1.25em] align-[-0.25em]': id === 'rainbow',
    })}
  >
    {
      id === 'circle' && (
        <circle cx="62.5" cy="62.5" r="52.5" fill="currentColor" />
      )
    }
    {
      id === 'heart' && (
        <path
          d="M89.9144 13C69.9617 13 62.6308 33.3379 62.6308 33.3379C62.6308 33.3379 55.4002 13 35.3109 13C20.2121 13 3.00049 24.9357 9.35693 52.068C15.7134 79.2004 62.6855 113 62.6855 113C62.6855 113 109.485 79.2004 115.85 52.068C122.207 24.9357 106.233 13 89.9144 13Z"
          fill="currentColor"
        />
      )
    }
    {
      id === 'square' && (
        <rect
          x="13"
          y="13"
          width="100"
          height="100"
          rx="10"
          fill="currentColor"
        />
      )
    }
    {
      id === 'rainbow' && (
        <g>
          <path
            d="M28.9048 108.859L23.3762 119.93C23.3762 119.93 12.6818 120.168 12.0707 119.768C11.4596 119.369 4.4509 75.7807 36.2668 40.8475C69.916 3.87903 112.197 4.14533 113.209 5.36271C114.221 6.57058 113.973 21.3504 113.973 21.3504L28.9048 108.859Z"
            fill="#FF542F"
          />
          <path
            d="M69.3992 28.6265C48.4983 40.3967 32.7175 58.209 25.4098 86.0787C21.9327 99.3332 23.2414 120 23.2414 120H35.5833L72.2936 66.3158L114 27.3801V16C114 16 89.0488 17.551 69.3992 28.6265Z"
            fill="#FF8E00"
          />
          <path
            d="M43.444 72.8742C33.311 92.2902 35.1263 120 35.1263 120L47.2378 119.99L88.6052 65.3161L114 39.3357L113.981 27.0001C113.981 27.0001 99.5065 26.8663 76.9739 37.7209C58.8787 46.4256 48.9571 62.3158 43.444 72.8742Z"
            fill="#F9D81E"
          />
          <path
            d="M64.2561 62.9915C43.339 89.1771 47.2986 120 47.2986 120H60.7173L83.6334 78.3502L114 53.1228L113.99 39C113.99 39 82.9447 39.5845 64.2561 62.9915Z"
            fill="#97CC37"
          />
          <path
            d="M75.5337 68.9259C54.8349 88.9822 59.4357 120 59.4357 120H70.1171L86.0349 79.7343L114 64.9625L113.991 51.0332C113.991 51.0332 95.6917 49.4058 75.5337 68.9259Z"
            fill="#00C0E9"
          />
          <path
            d="M113.535 72.4996C114.178 71.4934 113.967 61.0004 113.967 61.0004C113.967 61.0004 96.4618 60.6842 81.7096 77.291C66.9862 93.869 69.106 119.943 69.106 119.943C69.106 119.943 79.1965 120.25 79.609 119.436C80.4339 117.806 76.8178 98.6124 88.8555 85.0721C101.325 71.0526 113.18 73.0363 113.535 72.4996Z"
            fill="#8C83FF"
          />
        </g>
      )
    }
  </svg>
  <span class="sr-only [font-variant-emoji:emoji]">{emoji}</span>
</>
