---
const suitEmojisById = {
  0: 'ðŸ”¥',
  1: 'ðŸ’§',
  2: 'â­',
  3: 'ðŸ€',
  4: 'ðŸŠ',
  5: 'ðŸ†',
  6: 'ðŸ’­',
  7: 'ðŸ•·ï¸',
  8: 'ðŸŒ¸',
  9: 'ðŸ’Ž',
  10: 'ðŸ’©',
  11: 'ðŸ—¿',
  111: 'â¤ï¸',
  121: 'ðŸ”´',
  131: 'ðŸŸ¥',
  112: 'ðŸ’™',
  122: 'ðŸ”µ',
  132: 'ðŸŸ¦',
  113: 'ðŸ’›',
  123: 'ðŸŸ¡',
  133: 'ðŸŸ¨',
  114: 'ðŸ’š',
  124: 'ðŸŸ¢',
  134: 'ðŸŸ©',
  115: 'ðŸ–¤',
  125: 'âš«ï¸',
  135: 'â¬›ï¸',
  145: 'ðŸŒˆ',
} as const

type SuitEmoji = (typeof suitEmojisById)[keyof typeof suitEmojisById]
type SuitId = keyof typeof suitEmojisById

export interface Props {
  id?: SuitId
  emoji?: SuitEmoji
}

const { id, emoji } = Astro.props

const suitId =
  id ??
  (Object.entries(suitEmojisById).find(([_, e]) => e === emoji)?.[0] as
    | SuitId
    | undefined)
---

{
  suitId !== undefined ? (
    <img
      src={`/images/suits/${suitId}.svg`}
      class="not-prose unset align-middle inline-block pointer-events-none h-[1.25em] w-[1.25em]"
      alt={suitEmojisById[suitId]}
      draggable="false"
    />
  ) : (
    <span>{emoji ?? 'ðŸš«'}</span>
  )
}
