---
import {
  type SuitId,
  type SuitEmoji,
  getEmojiBySuitId,
  getSuitIdByEmoji,
} from './suits'

export interface Props {
  id?: SuitId
  emoji?: SuitEmoji
}

const { id, emoji } = Astro.props

const suitId = id ?? (emoji ? getSuitIdByEmoji(emoji) : undefined)
---

{
  suitId !== undefined ? (
    <img
      src={`/images/suits/${suitId}.svg`}
      class="not-prose unset align-[-0.25em] inline-block pointer-events-none h-[1.25em] [font-variant-emoji:emoji]"
      alt={getEmojiBySuitId(suitId)}
      draggable="false"
    />
  ) : (
    <span class="[font-variant-emoji:emoji]">🚫</span>
  )
}
