---
import {
  type SuitId,
  type SuitEmoji,
  getEmojiBySuitId,
  getSuitIdByEmoji,
} from './suits'
import { cn } from '../../lib/cn'

export interface Props {
  id?: SuitId
  emoji?: SuitEmoji
  size?: 'small' | 'large-responsive'
}

const { id, emoji, size = 'small' } = Astro.props

const suitId = id ?? (emoji ? getSuitIdByEmoji(emoji) : undefined)
---

{
  suitId !== undefined ? (
    <img
      src={`/images/suits/${suitId}.svg`}
      class={cn(
        'not-prose unset align-[-0.25em] inline-block pointer-events-none [font-variant-emoji:emoji]',
        'h-[1.25em]',
        {
          'h-[1.5em] xs:h-[2em]': size === 'large-responsive',
        }
      )}
      alt={getEmojiBySuitId(suitId)}
      draggable="false"
    />
  ) : (
    <span class="[font-variant-emoji:emoji]">🚫</span>
  )
}
