---
---

<div class="bg-gradient-to-br from-[#3c72fb] via-[#f91669] to-[#c10cea] text-white p-12">
  <p class="text-xl mb-6">
    Buy the DIY Multideck now
  </p>
  <a href="/buy" class="bg-white rounded text-blue-700 font-bold uppercase inline-block px-4 py-2">Buy now</a>
</div>
