---

---

<div
  class="bg-gradient-to-br from-[#3c72fb] via-[#f91669] to-[#c10cea] text-white p-12 rounded-2xl"
>
  <p class="text-xl mb-6 font-bold">Buy the DIY Multideck now</p>
  <a
    href="/buy"
    class="bg-white rounded text-blue-700 hover:!text-white hover:!bg-stone-800 font-bold uppercase inline-block px-4 py-2 !bg-none"
    >Buy now</a
  >
</div>
