---
interface Props {
  text: string
}

const { text } = Astro.props
---

<div class="flex bg-stone-200/50 dark:bg-slate-900 rounded-md p-2 pl-0 mt-2">
  <i class="ti ti-bulb px-3 text-lg text-yellow-500 dark:text-yellow-300"></i>
  <div class="grow">{text}</div>
</div>
