---
---

<script>
  // @ts-nocheck
  const remark_config = {
    host: 'https://comments.diymultideck.com',
    site_id: 'remark',
    components: ['embed', 'last-comments'],
    max_shown_comments: 25,
    theme: 'dark',
    show_email_subscription: false,
    simple_view: true,
    no_footer: true,
  }

  !(function (e, n) {
    for (var o = 0; o < e.length; o++) {
      var r = n.createElement('script'),
        c = '.js',
        d = n.head || n.body
      'noModule' in r ? ((r.type = 'module'), (c = '.mjs')) : (r.async = !0),
        (r.defer = !0),
        (r.src = remark_config.host + '/web/' + e[o] + c),
        d.appendChild(r)
    }
  })(remark_config.components || ['embed'], document)
</script>

<div id="remark42"></div>
