---
import { cn } from '../lib/cn'

interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<footer class={cn('text-sm leading-[1.75]', className)}>
  <div>
    <span>Made with</span>

    <i class="ti ti-heart text-base text-red-500" aria-label="love"> </i>

    <span>by</span>
    <a
      class="unset gradient-link tracking-wider font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#008bb1] to-[#1476ff] hover:after:bg-gradient-to-r hover:after:from-[#0090b7] hover:after:to-[#1476ff]"
      href="https://mauriciabad.com"
      target="_blank"
    >
      Maurici Abad</a
    ><span>.</span>
  </div>
</footer>

<style>
  footer {
    grid-area: footer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gradient-link {
    position: relative;
    box-decoration-break: clone;
    text-decoration: none;
  }

  .gradient-link:hover:after {
    transform: translateZ(0) scale(1);
  }

  .gradient-link:after {
    left: 0;
    right: 0;
    bottom: -2px;
    content: '';
    height: 2px;
    position: absolute;
    transform: translateZ(0) scaleX(0);
    transform-origin: left center;
    transition: all 0.15s ease-in-out;
  }
</style>
