---
---

<footer class="text-sm leading-[1.75] mt-4">
  <div>
    <span>Made with</span>

    <svg
      class="text-red-500 inline-block align-[-3px]"
      width="16"
      height="16"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
      aria-label="love"
    >
      <path
        d="M6.979 3.074a6 6 0 0 1 4.988 1.425l.037 .033l.034 -.03a6 6 0 0 1 4.733 -1.44l.246 .036a6 6 0 0 1 3.364 10.008l-.18 .185l-.048 .041l-7.45 7.379a1 1 0 0 1 -1.313 .082l-.094 -.082l-7.493 -7.422a6 6 0 0 1 3.176 -10.215z"
        stroke-width="0"
        fill="currentColor"></path>
    </svg>

    <span>by</span>
    <a
      class="unset gradient-link tracking-wider font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#008bb1] to-[#1476ff] hover:after:bg-gradient-to-r hover:after:from-[#0090b7] hover:after:to-[#1476ff]"
      href="https://mauriciabad.com"
      target="_blank"
    >
      Maurici Abad</a
    ><span>.</span>
  </div>
</footer>

<style>
  footer {
    grid-area: footer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gradient-link {
    position: relative;
    box-decoration-break: clone;
    text-decoration: none;
  }

  .gradient-link:hover:after {
    transform: translateZ(0) scale(1);
  }

  .gradient-link:after {
    left: 0;
    right: 0;
    bottom: -2px;
    content: '';
    height: 2px;
    position: absolute;
    transform: translateZ(0) scaleX(0);
    transform-origin: left center;
    transition: all 0.15s ease-in-out;
  }
</style>
