---
---

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#3c72fb] via-[#f91669] to-[#c10cea] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        The DIY Multideck
      </span>
    </h1>
    <p class="text-2xl pb-4">Draw in your cards!</p>
  </div>
  <div>
    <p>
      The diy multideck is a deck of 120 poker-sized playing cards that lets you
      play many games by writing in the cardas and using a bit of imagination.
    </p>

    <h2>Features</h2>
    <ul>
      <li>A...</li>
      <li>B...</li>
      <li>C...</li>
    </ul>

    <h3>Letter</h3>
    <p>
      It can be: <strong>latin</strong> letter, <strong>other</strong> letter or
      <strong>symbol</strong>.
    </p>
    <ul>
      <li>3 × ABCDEFGHIJKLMNOPQRSTUVWXYZ</li>
      <li>1 × ÁÅÄĄÆĆČÇÐÉĖĘĞÍĮŁŃÑÓÖŐÕØŚŠŞẞÚÜŰŲŪÝŹŽŻÞ</li>
      <li>1 × *•@#$</li>
    </ul>

    <blockquote>
      <strong>Supported 35 languages</strong>
      <br />

      English, Afrikaans, Arabic, Bulgarian, Catalan, Croatian, Danish, Dutch,
      Estonian, Faroese, Finnish, French, German, Greek, Hebrew, Hungarian,
      Icelandic, Indonesian, Irish, Italian, Latin, Lithuanian, Malagasy, Malay,
      Norwegian, Polish, Portuguese, Romanian, Russian, Slovenian, Spanish,
      Swedish, Turkish, Ukrainian, Welsh
    </blockquote>
  </div>
</section>
