---
import Comments from '../components/Comments.astro'
import type { Props as TitleProps } from '../components/Title.astro'
import Title from '../components/Title.astro'
import PageLayout from './PageLayout.astro'

export interface Props {
  title: TitleProps['text']
  date: Date
  subtitle?: TitleProps['subtitle']
}

const { title, date, subtitle } = Astro.props
const formattedDate = new Date(date).toLocaleDateString('en-us', {
  year: 'numeric',
  month: 'short',
  day: 'numeric',
})
---

<PageLayout>
  <slot name="meta" slot="meta" />
  <Title text={title} subtitle={subtitle} />
  <time class="block mb-[2em] text-text-muted">{formattedDate}</time>
  <slot />
  <h2 class="mt-6 mb-2 text-3xl font-bold" id="#comments">Comments</h2>
  <Comments />
</PageLayout>
