---
import '../styles/global.css'

import GoogleFont from './GoogleFont.astro'
import GoogleAnalytics from './GoogleAnalytics.astro'
import FontAwesome from './FontAwesome.astro'
import TablerIcons from './TablerIcons.astro'
import ThemeScript from './ThemeScript.astro'
import Favicon from './Favicon.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import MetaTags from './MetaTags.astro'
import { ViewTransitions } from 'astro:transitions'
import type { MarkdownHeading } from 'astro'
import TableOfContents from '../components/TableOfContents.astro'

interface Props {
  classes?: {
    main?: string
    footer?: string
  }
  hasProse?: boolean
  tocHeadings?: MarkdownHeading[]
}

const { classes: classNames, hasProse, tocHeadings } = Astro.props
---

<!doctype html>
<html class="theme-sleek" lang="en">
  <head>
    <MetaTags />
    <Favicon />
    <slot name="meta" />
    <GoogleFont />
    <GoogleAnalytics />
    <ThemeScript />
    <FontAwesome />
    <TablerIcons />
    <ViewTransitions />
  </head>

  <body
    class:list={[
      'min-h-screen max-w-3xl mx-auto px-3 sm:px-8 box-content',
      'grid grid-areas-[header,main,footer] grid-rows-[5rem_minmax(0,1fr)_5rem] grid-cols-1',
      tocHeadings &&
        "lg:pr-8 lg:pl-[calc(theme('spacing.8')+theme('spacing.64'))]",
    ]}
  >
    {
      tocHeadings && (
        <aside
          class:list={[
            'unset not-prose w-64 pt-8 grid-in-[toc] fixed top-0 left-0 right-0 h-full overflow-y-auto',
            'hidden lg:block p-4 border-r border-stone-200 dark:border-white/10 bg-stone-50 dark:bg-black/20',
          ]}
        >
          <div class="text-md font-bold mb-2">Table of contents</div>
          <TableOfContents headings={tocHeadings} />
        </aside>
      )
    }

    <Header transition:persist class="grid-in-[header]" />
    <main
      class:list={[
        'content-center grid grid-in-[main]',
        hasProse &&
          'prose mx-auto prose-sleek prose-li:m-0 prose-ul:m-0 prose-table:border-current/25',
        classNames?.main,
      ]}
    >
      <slot name="main" />
    </main>
    <Footer class:list={classNames?.footer} class="grid-in-[footer]" />
  </body>
</html>
