---
import '../styles/global.css'

import GoogleFont from './GoogleFont.astro'
import GoogleAnalytics from './GoogleAnalytics.astro'
import FontAwesome from './FontAwesome.astro'
import TablerIcons from './TablerIcons.astro'
import ThemeScript from './ThemeScript.astro'
import Favicon from './Favicon.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import MetaTags from './MetaTags.astro'
import { ViewTransitions } from 'astro:transitions'

interface Props {
  classes?: {
    main?: string
    footer?: string
  }
  hasProse?: boolean
  withToc?: boolean
}

const { classes: classNames, hasProse, withToc } = Astro.props
---

<!doctype html>
<html class="theme-sleek scroll-smooth" lang="en">
  <head>
    <MetaTags />
    <Favicon />
    <slot name="meta" />
    <GoogleFont />
    <GoogleAnalytics />
    <ThemeScript />
    <FontAwesome />
    <TablerIcons />
    <ViewTransitions />
  </head>

  <body class="min-h-screen max-w-3xl mx-auto px-3 sm:px-8">
    <Header transition:persist id="header" />
    {
      withToc && (
        <aside
          id="toc"
          class:list={[
            'unset not-prose',
            'relative hidden',
            'xl:block xl:fixed xl:p-4 xl:top-0 xl:left-0 xl:bottom-0 xl:overflow-y-auto xl:border-r xl:border-white/10 xl:bg-black/20 xl:w-[16rem]',
          ]}
        >
          <div class="font-lg font-bold">Table of content</div>
          <slot name="toc" />
        </aside>
      )
    }
    <main
      id="main"
      class:list={[
        'content-center grid',
        hasProse &&
          'prose mx-auto prose-sleek prose-li:m-0 prose-ul:m-0 prose-table:border-current/25',
        classNames?.main,
      ]}
    >
      <slot name="main" />
    </main>
    <Footer class:list={classNames?.footer} id="footer" />

    <style>
      body {
        display: grid;
        grid-template-areas:
          'header'
          'main'
          'footer';
        grid-template-rows: 5rem minmax(0, 1fr) 5rem;
        grid-template-columns: minmax(0, 1fr);
      }
      #header {
        grid-area: header;
      }
      #main {
        grid-area: main;
      }
      #footer {
        grid-area: footer;
      }
    </style>
  </body>
</html>
